

<p>
  <strong>Firstname:</strong>
  <%= @biker.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @biker.lastname %>
</p>

<p>
  <strong>City:</strong>
  <%= @biker.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @biker.state %>
</p>

<p>
  <strong>Geolocation:</strong>
  <%= @biker.geolocation %>
</p>

<p>

  <%= image_tag @biker.avatar, style: "width: 200px; display: block" %>
</p>

